.secondFoldCont {
  margin: 159px 0 0;
  padding: 137px 0 157px;
  position: relative;
  .sliderText {
    z-index: 2;
    display: inline-block;
    font-size: 100px;
    text-transform: uppercase;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color: #fff;
  }
  .sliderTextActive {
    color: black;
  }
  .element {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    aspect-ratio: 6/5;
    object-fit: contain;
  }
  @media screen and (max-width: 520px) {
    margin: 0;
    padding: 50px 0;
    .element {
      width: 250px;
      // aspect-ratio: 1;
    }
    .sliderText {
      font-size: 40px;
    }
  }
  @media screen and (max-width: 768px) {
    margin: 0;
    padding: 90px 0;
    .element {
      width: 450px;
      // aspect-ratio: 1;
    }
    .sliderText {
      font-size: 60px;
    }
  }
  @media screen and (max-width: 1200px) {
    margin: 50px 0;
    padding: 100px 0;
    .element {
      width: 600px;
      // aspect-ratio: 1;
    }
    .sliderText {
      font-size: 80px;
    }
  }
}
