.sliderText {
  display: inline-block;
  font-size: 100px;
  text-transform: uppercase;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: #fff;
}

.sliderTextActive {
  color: black;
}
