.clientele {
  padding: 131px 0px 127px;
  h2 {
    font-size: 50px;
    width: 50%;
    text-transform: uppercase;
    margin-bottom: 100px;
  }
  @media screen and (max-width: 520px) {
    padding: 50px 0;
    h2 {
      font-size: 36px;
      margin-bottom: 0;
    }
  }
}
