.headerBox {
  background-color: #fff;
  box-shadow: 0px 6px 6px 0px #00000014;

  .headerMain {
    padding: 20px 0;
    a {
      font-weight: 500;
      text-decoration: none;
      color: #000000;
    }
  }
}
.mobileLinksBox {
  .mobileLinks {
    text-decoration: none;
  }
}
