.JackOfAll {
  min-height: 100vh;
  padding: 134px 0;
  background-color: black;
  h2 {
    font-size: 50px;
    text-transform: uppercase;
    color: white;
  }
  h3 {
    color: white;
    font-size: 18px;
  }
  .scrollContainer {
    // height: 1000px;
    .swipeCards {
      // border: 1px solid red;
      // height: 400px;
      h4 {
        color: white;
        font-size: 50px;
      }
      h5 {
        color: white;
        font-size: 24px;
      }
    }
  }
  @media screen and (max-width: 520px) {
    min-height: auto;
    padding: 50px 0;
    h2{
      font-size: 36px;
    }
    h3{
      font-size: 12px;
    }
  }
  @media screen and (max-width: 768px) {
    min-height: auto;
    padding: 70px 0;
    h2{
      font-size: 42px;
    }
    h3{
      font-size: 18px;
    }
  }
}
