.JackOfAll {
  background-color: black;
  h2 {
    font-size: 50px;
    text-transform: uppercase;
    color: white;
  }
  h3 {
    color: white;
    font-size: 18px;
  }
  .swipeCards {
    h4 {
      color: white;
      font-size: 50px;
    }
    h5 {
      color: white;
      font-size: 24px;
    }
  }
}
