.weAreFoldMain {
  margin-top: 150px;
  background-image: url("../../../../public/home/weAreFold/bg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 698px;
  margin-bottom: 58px;
  h2 {
    font-size: 90px;
    color: #000;
    text-transform: uppercase;
  }
  .titleSwiper {
    height: 100px;
  }
  .bodyText {
    &:first-of-type {
      margin-top: 41px;
    }
    &:not(:last-of-type) {
      margin-bottom: 20px;
    }
    max-width: 1000px;
    font-size: 16px;
    font-weight: 600;
    color: #4a4a4a;
    text-align: justify;
  }
  .butonBox {
    .buttonText {
      font-size: 14px;
      font-weight: 600;
      color: #1d1d1f;
      margin-right: 5px;
    }
    &:hover {
      .buttonText,
      .buttonImage {
        color: #fff;
      }
    }
  }
  @keyframes rotateAnimation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .cursorAnimation {
    animation: rotateAnimation 5s linear infinite;
    scale: 1.5;
  }

  @media screen and (max-width: 520px) {
    margin: 50px 0px;
    min-height: unset;
    h2{
      font-size: 34px;
    }
    .arrowImage{
      aspect-ratio: 1;
      width: 50px;
      height: 50px;
    }
    .titleSwiper{
      height: 40px;
    }
    .bodyText{
      &:first-of-type {
        margin-top: 10px;
      }
      &:not(:last-of-type) {
        margin-bottom: 20px;
      }
    }
  }
  @media screen and (max-width: 768px) {
    margin: 100px 0px;
    min-height: unset;
    h2{
      font-size: 48px;
    }
    .arrowImage{
      aspect-ratio: 1;
      width: 70px;
      height: 70px;
    }
    .titleSwiper{
      height: 80px;
    }
    .bodyText{
      &:first-of-type {
        margin-top: 10px;
      }
      &:not(:last-of-type) {
        margin-bottom: 20px;
      }
    }
  }
  @media screen and (max-width: 1200px) {
    margin: 120px 0px;
    min-height: unset;
    h2{
      font-size: 56px;
    }
    .arrowImage{
      aspect-ratio: 1;
      width: 100px;
      height: 100px;
    }
    .titleSwiper{
      height: 80px;
    }
    .bodyText{
      &:first-of-type {
        margin-top: 10px;
      }
      &:not(:last-of-type) {
        margin-bottom: 20px;
      }
    }

  }
}
